p, body
{
    color: #444;
    font-size: 17px; /* Paragraphes de 25 pixels */
}

body
{
   
    margin: 200px;
}

h1
{
    font-size: 35px; /* Titres de 40 pixels */
}

h2
{
    font-size: 30px; /* Titres de 40 pixels */
}

h3
{
    font-size: 25px; /* Titres de 40 pixels */
}

h4
{
    font-size: 20px; /* Titres de 40 pixels */
}



